body{
    font-family: "Montserrat";
}
h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}


/* navbar section */


#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    font-family: "Montserrat-Light";
    font-size: 1.5rem;
    padding: 0 18px;
}
.download-button{
    margin: 5% 3% 5% 0;
}


.title-image{
    width:60% ;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;

}

@media (max-width:1058px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* feature section */


#features{
    background-color: #fff;
 padding: 7% 15%;
 position: relative;
}
.feature-box{
    text-align: center;
}
.feature-image{
    color: #ef8172;
}


/* testimonial section */
#testimonials{
    background-color: #ef8172;
    
    text-align:center;
    color: #fff;

}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}




#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing section */
#pricing{
    text-align: center;
    padding: 100px;
}
.pricing-col{
    padding: 3% 2%;
}

/* call to act */
#cta{
    text-align: center;
    font-family: "Montserrat-Black";
    color: #fff;
    background-color: #ff4c68;
    padding:  4% 3% 4%;

}



/* footer */
#footer{
    text-align: center;
    padding: 5% 3% 3%;
}
.footer-img{
    margin: 1%;
}
